* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.container_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 25px;
}

.input_title,
.input_notes {
  display: block;
  width: 45vh;
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid #bb8740;
  padding: 16px 25px;
  font: inherit;
}


.input_title {
  height: 48px; 
}

.input_notes {
  min-height: 12vh; 
  resize: vertical; 
}

.input_title::placeholder,
.input_notes::placeholder {
  color: #bb8740;
}


.input_notes {
  min-height: 12vh;
  resize: vertical;
  margin-bottom: 10px;
}

.btn_addNote {
  display: inline-flex;
  align-items: center;
  border: solid 2px;
  border-color: #bb8740;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #0e2a3f;
  cursor: pointer;
  margin-bottom: 40px;
}

.container_saved_notes {
  display: flex;
}

.container_notescontent {
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: auto;
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid #2C71DB;
  padding: 25px;
}

h3 {
margin-top: 30px;
margin-bottom: 10px;
}

.btn_openDialog {
  display: inline-flex;
  align-items: center;
  border: solid 2px;
  border-color: #bb8740;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #0e2a3f;
  cursor: pointer;
  margin-bottom: 40px;
}

#dialog_bin {
margin: auto;
}

.container_trashNotes {
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid rgba(255, 0, 0, 0.641);
  padding: 25px;
  
}

dialog::backdrop{
  background-color: #bb8740;
  opacity: 0.3;
}

.btn_close {
  display: inline-flex;
  align-items: center;
  border: solid 2px;
  border-color: #bb8740;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #0e2a3f;
  cursor: pointer;
  margin-bottom: 40px;
}

footer {
  margin-top: 30px;
  font-size: 12px;
}