* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.container_input{
  display: flex;
  border-radius: 25px;
}


.input_notes {
  display: flex;
  width: 45vh;
  height: 12vh;
  margin-bottom: 10px;
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid #bb8740;
  padding: 25px;
  align-items: flex-start;
}

.btn_addNote {
  display: inline-flex;
  align-items: center;
  border: solid 2px;
  border-color: #bb8740;
  border-radius: 25px;
  padding: 0.5em 1em;
  color: #0e2a3f;
  cursor: pointer;
  margin-bottom: 40px;
}

.container_saved_notes {
  display: flex;
}

.container_notescontent {
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: auto;
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid #2C71DB;
  padding: 25px;
}

h3 {
margin-top: 30px;
margin-bottom: 10px;
}

.container_trashNotes {
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid rgba(255, 0, 0, 0.641);
  padding: 25px;
  
}

dialog::backdrop{
  background-color: #bb8740;
  opacity: 0.3;
}
/*
.container_trashNotes {
  display: flex;
  flex-direction: column;
  width: 45vh;
  height: auto;
  color: #bb8740;
  background-color: #efefef;
  border-radius: 25px;
  border: 5px solid rgba(255, 0, 0, 0.641);
  padding: 25px;
}*/

footer {
  margin-top: 60px;
  font-size: 12px;
}